body {
    margin: 0;
}

li {
    list-style: none;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    background-color: rgb(155, 105, 48);
    padding: 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    align-items: center;
}

.header__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    grid-column: 2 / 3;
}

.header__menu {
    grid-column: 3 / 4;
}

.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;

}

.header__list li {

}

.header__link {
    color: #fff;
    font-size: 18px;
}

.main {
    grid-area: main;
    padding: 30px 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.sidebar {
    grid-column: 2 / 3;
    background-color: rgb(107, 180, 101);
    padding: 30px 15px;
}

.sidebar__list li {
    margin-bottom: 15px;
}

.sidebar__link {
    color: #fff;
    font-size: 20px;
}

.content {
    grid-column: 3 / 4;
    padding: 0 0 0 30px;
}

.footer {
    grid-area: footer;
    background-color: rgb(95, 89, 89);
}